on boot
    # Allow bugreports access to eMMC 5.0 stats
    chown root mount /sys/kernel/debug/mmc0/mmc0:0001/ext_csd
    chmod 0440 /sys/kernel/debug/mmc0/mmc0:0001/ext_csd

service dumpstate /system/bin/dumpstate -s
    class main
    socket dumpstate stream 0660 shell log
    disabled
    oneshot

# bugreportplus is an enhanced version of bugreport that provides a better
# user interface (like displaying progress and allowing user to enter details).
# It's typically triggered by the power button or developer settings.
# TODO: remove the -p option when screenshot is taken by Shell
service bugreportplus /system/bin/dumpstate -d -p -B -P -z \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
