service surfaceflinger /system/bin/surfaceflinger
    class core
    user system
    group graphics drmrpc readproc
    onrestart restart zygote
    writepid /dev/cpuset/system-background/tasks /sys/fs/cgroup/stune/foreground/tasks
